@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  font-family: 'Lato', sans-serif;
  background-image: url("./img/background_main.jpg");
  background-size: cover;

}

.login-dashboard {
  display: flex;
  height: 70px;
  align-content: center;
}

.button {
  align-items: flex-start;
  margin: auto;  /* Magic! */
  padding: 10px 80px;
  font-family: 'Lato', sans-serif;
  background-color: #990134;
  color: #ffffff;
  border: 0;
}

.user-dashboard {
  background-image: url("./img/background.jpg");
  background-size: cover;
  height: 100vh;
}
