<div class="flex-wrapper controlls">
    <div class="controlls-button ">
        <button type="button" ng-click="$ctrl.goToDashboard()">Back To Dashboard</button>
    </div>

    <div class="controlls-button">
        <button type="button" ng-click="$ctrl.centerMap()">Center on user data</button>
    </div>
    
    <div class="controlls-button controlls-button_active">
        <button type="button" ng-click="$ctrl.setUserData()">User data</button>
    </div>

    
    <div class="controlls-button">
        <button type="button" ng-click="$ctrl.setCompareData()">Data to compare</button>
    </div>
    
    <div class="controlls-button ">
        <button type="button" ng-click="$ctrl.setAddData()">Add</button>
    </div>

    <div class="controlls-button ">
        <button type="button" ng-click="$ctrl.setSubData()">Subb</button>
    </div>
</div>
<heat-map map-lat="$ctrl.mid[0]" 
          map-lng="$ctrl.mid[1]" 
          layer-data="$ctrl.layerData">
</heat-map>
